
@model ClubChallenge.ViewModels.MemberEventViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<h2>Sign-Up</h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post)) //calling createMember actionresult
{
    @Html.LabelFor(c => c.Member.PIN)
    @Html.TextBoxFor(c => c.Member.PIN)

    @Html.HiddenFor(c => c.Events.Id)



    <button type="submit">Save</button>
}


<input type="button" value="Cancel" onclick="location.href='@Url.Action("ViewEvents", "User")'" />