@model IEnumerable<ClubChallenge.Models.Event>
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>Events For this Month!</h1>
<table>


    @foreach (var events in Model)

    {

        <tr>
            <td><h2>@events.Name</h2></td>

            <td>
                @Html.ActionLink("Sign-Up", "SignUpEvent", "User", new { id = events.Id }, null)
            </td>
        </tr>
        

    }

</table>
<input type="button" value="Cancel" onclick="location.href='@Url.Action("UserLogin", "Login")'" />



