@model IEnumerable<ClubChallenge.Models.VolunteerEvents>
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    DateTime date = DateTime.Now;
    string dateWithFormat = date.ToString("MMMM");
}
<style>
    .signup {
        border-style: solid;
        position: absolute;


    }
</style>

<h1>Volunteer Events @dateWithFormat</h1>
<table>


    @foreach (var Vevents in Model)

    {

        <tr>
            <td><h2>@Vevents.Name</h2></td>

            <td>
                <div class="signup">
                    @Html.ActionLink("Sign-Up", "SignUpVolunteerEvent", "User", new { id = Vevents.Id }, null)
                </div>

            </td>
        </tr>


    }

</table>
<input type="button" value="Cancel" onclick="location.href='@Url.Action("UserLogin", "Login")'" />

