@model IEnumerable<ClubChallenge.Models.Event>
@{
    Layout = null;
}

<h2>Events</h2>

    @foreach (var events in Model)
    {
        using (Html.BeginForm("SignUpEvent", "User", new { id = events.Id }))//passing member id to view
        {

            <h2>@events.Name</h2>
            


            <input type="submit" value="SignUp" />
        }

    }


<input type="button" value="Cancel" onclick="location.href='@Url.Action("UserLogin", "Login")'" />



