@{
    Layout = null;
}

<h1>Login Below</h1>
<form>
    Username: <br />
    <input type="text" name="username"><br>
    Password: <br />
    <input type="password" name="password"><br>
    <input type="button" value="Login" onclick="location.href='@Url.Action("Index", "Admin")'" />
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("UserLogin", "Login")'"/>
    <input type ="button" value="CreateAccount" onclick="location.href='@Url.Action("CreateAdminPage", "login")'"/>
</form>