@model ClubChallenge.Models.MemberClubHours

@{
    Layout = null;
}

<h2>You Clocked In </h2>

<script>window.setTimeout(function(){
window.location='@Url.Action("UserLogin","Login")';
}, 4000);</script>