@model ClubChallenge.Models.MemberClubHours

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>You Clocked In!!(Page will automatically redirect) </h2>

<script>window.setTimeout(function(){
window.location='@Url.Action("UserLogin","Login")';
}, 3000);</script>