
@{
    Layout = null;
}

<h1>Club Members Login Below!</h1>
<form>

    Enter your PIN: <br />
    <input type="password" name="password"><br>
    <input type="button" value="Clock-In" onclick="location.href='@Url.Action("ClockIn", "User")'" />
    <input type="button" value="Clock-Out" onclick="location.href='@Url.Action("ClockOut", "User")'"/>
    <input type="button" value="Events" onclick="location.href='@Url.Action("ViewEvents", "User")'"/>
    <input type="button" value="Admin" onclick="location.href='@Url.Action("AdminLogin","Login")'"/>
</form>