@model ClubChallenge.Models.Member
@{
    Layout = null;
}

<h1>Club Members Login Below!</h1>

@using (Html.BeginForm("ClockIn", "Login", FormMethod.Post)) 
{

    @Html.LabelFor(c => c.PIN)
    @Html.TextBoxFor(c => c.PIN)<br />

    <button type="submit" value="ClockIn">ClockIn</button>


}


<input type="button" value="Events" onclick="location.href='@Url.Action("ViewEvents", "User")'" />
<input type="button" value="Admin" onclick="location.href='@Url.Action("AdminLogin","Login")'" />
