
@model ClubChallenge.Models.Member
@{
    /**/

    ViewBag.Title = "Member Details";
}

<h1>Member Details</h1>
@using (Html.BeginForm("MemberEdit", "Admin", new { id = Model.Id }))//passing member id to view
{

    <h2>First Name: @Model.FirstName</h2>
    <h2>Last Name: @Model.LastName</h2>
    <h2>Birthday: @Model.Birthdate</h2>

    <input type="submit" value="Edit" />
}

<input type="button" value="Go Back" onclick="location.href='@Url.Action("Members", "Admin")'" />

