

@model IEnumerable<ClubChallenge.Models.Member>
@{
    ViewBag.Title = "Members";
}

<h2>Current Members</h2>

<table>
    @foreach (var members in Model)
    {
        using (Html.BeginForm("deleteMember", "Admin", new { id = members.Id }))//passing member id to view

        {
            <tr>
                <td>@Html.DisplayFor(m => members.FirstName) @Html.DisplayFor(m => members.LastName)</td>

                <td>
                    @Html.ActionLink("Details", "MemberDetails", "Admin", new { id = members.Id }, null)



                    <input type="submit" value="Delete" />
                </td>
            </tr>
        }

        }

</table>


<input type="button"value="Add Member" onclick="location.href='@Url.Action("AddMember", "Admin")'" />

